@import url(https://fonts.google.com/specimen/Open+Sans);

/* ESTILOS GERAIS */
*{
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Open sans', sans-serif

}
body{
    background-color: #DADADA;

}
header{
    display: flex;
    align-items: center
   
}

#menu ul {
    list-style-type: none;
    padding: 0;
    background: #77A8FF;
    text-align: center;
    max-width: 800px;
    margin-bottom: 45px;

}
#menu ul li{
    display: inline ;

}
#menu ul li a{
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    
}
#menu ul li a:hover{
    color: #153B7F;

}
#menu ul li:last-child a{
    float: right;
    background-color: #736E6C;
}

/* Pagina inicial */

main{
    display: flex;
    flex-direction: row;
	justify-content: space-around;
  
    
}
.textoResumo{
    width: 500px;
    text-align:justify;
    margin: 0 auto;
    overflow: hidden;
}
.fotoPerfil{
  margin: 0 auto;
  overflow: hidden;
  border-image-slice: 5px;
}



#rodape {
    position: fixed;
    bottom: 0px;
    background-color: white;
    color: #FFF;
    width: 100%;    
    text-align: center;
    line-height: 40px;
    padding-top: 8px;
    
/* FORMAÇÃO */  
}
#formacao{
    padding: 50px 300px 40px 300px;
}
#curso{
    padding: 50px 300px 40px 300px;
}
#experienciaProfissional{
    padding: 50px 300px 40px 300px;
}
#experienciaVoluntaria{
    padding: 50px 300px 100px 300px;
   
}



#formulario{
    border: 10px;
    text-align:left;
    background-color:#f9ad95;
    bottom: 0;
    color: black;
    border-width: 6px;
    border-style: solid;
    border-color: #f00;
    margin: 50px 300px 40px 300px;
}
/* PORTIFOLIO */
.lbox{
    visibility: hidden;
    opacity: 0;
}