.cardusuario-container{
    display: flex;
    flex-direction: row;
    border: 1px solid  #efeae2;
    align-items: center;
    width: 400px;
    height: 58px;
    background-color: white;
}
.cardusuario-container img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 8px;
}
.cardusuario-container p{
    margin-top: 0;
    margin-bottom: 0;
}
.cardusuario-container h3{
    margin-top: 0;
    margin-bottom: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
