.App{
  display: flex;
}
.containerrr{
  display: flex;
}

.container-texto{
 width: 945px;

}
.rodape{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
  height: 50px;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 945px;
}