*{
    margin: 0;
    padding: 0;
}
h2{
    color: white;
}

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color:darkorange;
    width: 100%;
    height: 64px;
}
.tilulo-header{
    margin-left: 10%;
    color: black;
}
.bt-busca{
    margin-right: 80px;
}
.botao{
    width: 80px;
    height: 20px;
}

.container-template{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap:20px ;
    column-gap:20px;
    margin-left:40px;
    margin-right:40px;
    padding-top: 5%;
}
.cards-template{
    border: 2px solid;
    width: 100%;
    height: 129px;
}
.container-footer{
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    align-items: center;
}